# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/orp_dev?schema=public"

# Auth
NEXTAUTH_URL="https://orp-website-snowy.vercel.app"
NEXTAUTH_SECRET="orp-dev-secret-change-in-prod-2026"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_UPLOAD_PRESET=""

# Stripe
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Évoliz
EVOLIZ_API_KEY=""
EVOLIZ_CLIENT_ID=""

# Resend
RESEND_API_KEY=""