# Database
DATABASE_URL="postgresql://neondb_owner:npg_FZDip9q5txaC@ep-plain-mouse-akzm5x01-pooler.c-3.us-west-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Auth.js
AUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_PRICE_40x60=""
STRIPE_PRICE_50x70=""
STRIPE_PRICE_70x100=""
STRIPE_SHIPPING_FRANCE=""

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_UPLOAD_PRESET=""

# Évoliz
EVOLIZ_API_TOKEN=""

# Resend (emails)
RESEND_API_KEY=""

# App
NEXT_PUBLIC_SITE_URL="https://orp-website-snowy.vercel.app"